
.container{
  background-image: url('https://media.istockphoto.com/photos/metal-texture-background-picture-id812254568?k=20&m=812254568&s=612x612&w=0&h=1Ce45amogDoPZLx2UxVXu5zVgUqkLNu97DToNROGzlY=');
  height: auto;
  box-shadow: 0 0 5px 10px teal;
  background-size: cover;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 35rem;

}

h2{
  text-shadow: 10px 5px 10px #000;
  font-weight: bold;
}

h4{
  margin-top: 15px;
  font-size: 2rem;
}

.btn-danger{
  margin-top: 30px;
  size: 15%;
}

#display{

}


#drum-machine{

}

.list-group{
  margin-top: 15px;
  font-size: 20px;
}

h5{
  height: 10rem;
}



.btn{
  box-shadow: 0 0 4px 10px beige;
  font-size: 3rem;
  text-shadow: 2px 2px 2px #000;
}

.drum-pad{
  width: 25%;
}

h3{
  width: 40vmax;
  margin:auto;
  font-size: 20px;
}



